    {{#each data}}
      <h1>Edit {{this.coin}}</h1>
<form method="post" action="/edit" class="row g-3">
  <div class="col-md-6">
    <label >Quantity</label>
    <input value="{{this.quantity}}"  name="quantity" type="number" class="form-control" id="name">
  </div>
   <div class="col-md-6">
    <label  >Purchased Price</label>
    <input value="{{this.purchasedPrice}}" name="purchasedPrice" type="number" class="form-control" id="propellers">
  </div>
    <div class="col-md-6">
    <label >Purchased Value</label>
    <input value="{{this.purchaseValue}}"  name="purchaseValue" type="number" class="form-control" id="propellers">
  </div>



  <div class="col-12">
    <button type="submit" class="btn btn-dark">Submit</button>
  </div>
</form>
<form method="post" action="/delete" name="_id">
    <button type="submit" class="btn btn-dark" id="red">Delete</button>
</form>

 
    {{/each}}


    <h1>hey</h1>
{{!-- 
         <tr>
        <td>{{this.coin}}</td>
        <td>{{this.quantity}}</td>
        <td>{{this.purchaseValue}}</td>
        <td>{{this.currentValue}}</td>
      </tr>  --}}


